// Place all the styles related to the diets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.diet_item {
	width:300px;
	padding:10px;
	margin:10px;
	background-color:bisque;
}
